@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */ 
}
body{
    background-image: linear-gradient(to right, #66A182, #8EA4D2)
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2E4057;
    width: 600px;
    padding: 10px;
    margin:auto
}
h1{
    color: #2E4057;
    text-align: center;
    text-shadow: 1px 1px 2px #052c5f8e
}
h2{
    color: #F15025;
}
p{
    text-align: justify;
}   